.writer{
    font-size: 20px;
}
  .typing > *{
    overflow: hidden;
    white-space: nowrap;  
    animation: typingAnim 3s steps(20);
  }
  @keyframes typingAnim {
    from {width:0}
    to {width:100%}
  }