@keyframes colorChange {
    0% { color: white; }  /* Warna awal */
    25% { color: rgb(0, 195, 255); }  /* Warna biru setelah 1/4 durasi */
    50% { color: red; }  /* Kembali ke warna awal */
    75% { color: yellow; }  /* Biru lagi setelah 3/4 durasi */
    100% { color:rgb(11, 238, 11); }  /* Warna awal setelah selesai */
}

/* Gaya untuk elemen jam */
#clock {
    font-size: 2em;  /* Ukuran font */
    padding-top: 12px;  /* Ruang di bagian atas */
    animation: colorChange 5s infinite alternate;  /* Animasi perubahan warna */
}